@using AuthorizationLab;
@using Microsoft.AspNetCore.Authorization
@model IEnumerable<Document>
@inject IAuthorizationService _authService

<h1>Document library</h1>

@{
    var requirement = new EditRequirement();
    foreach (var doc in Model)
    {
        if (await _authService.AuthorizeAsync(User, doc, requirement))
        {
            <p>
                @Html.ActionLink("Document #" + doc.Id, "Edit", new { id = doc.Id })
            </p>
        }

    }
}
